.progressBar {
  height: 1rem;
  border-radius: 50px;
  background: hsla(244, 0%, 100%, 0.9);
  width: 80%;
  max-width: 700px;
  display: flex;
  cursor: pointer;
  position: relative;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-radius: 50px;
  background: black;
}

.currentTime {
  position: absolute;
  left: 1rem;
  top: calc(100% + 1rem);
  font-size: 1.4rem;
  color: white;
}

.duration {
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
  top: calc(100% + 1rem);
  color: white;
}
