.appWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.listWrapper {
  height: 65%;
  width: 100vw;
  flex: 1 1 auto;
  position: relative;
  background: linear-gradient(to bottom, var(--blue) 0%, var(--darkBlue) 100%);
}
